<div id="tb_tsgs">
	  <a id="t_btn1" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">Просмотр</a>
	  <a id="t_btn2" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">Обновить</a>
</div>
<table id="tsgs_list"></table>
<script>
	$(function(){
	
		$('#t_btn1').bind('click', function(){
			var row = $('#tsgs_list').datagrid('getSelected');
			if (row){
				open_tsg(row.id, $('#tsgs_list'));
			}
		});
	
		$('#t_btn2').bind('click', function(){
			$('#tsgs_list').datagrid('reload');
		});		
	});
	
     $('#tsgs_list').datagrid({
	    singleSelect : true,
		autoRowHeight:false,
		rownumbers:true,
		fit:true,
        url: 'tsgs_data',
		toolbar: '#tb_tsgs',
		columns:[[
			{field:'id',hidden:'true'},
			{field:'lk',title:'ЛК', width:20,
				formatter: function(value,row,index){
					if (row.lk==1){
						return '<img width="16" height="16" alt="" src="{{ asset('bundles/acmezayavki/images/ok.png') }}" >';
					}
				}
			},
			{field:'name',title:'Название', width:280}			
		]],		
		onDblClickRow: function(index, data) {
				open_tsg(data['id'], $('#tsgs_list'));
		}
    });
	

	function open_tsg(id) {

		 var client_h = ((document.body.clientHeight > 720) ? 720 : document.body.clientHeight - 200);
	
		if (!$('div').is('#tsgs_card')) {
			$('#cardholder').after('<div id="tsgs_card"></div>');
		}
	
		$('#tsgs_card').dialog({
			title: 'Карточка организации',  width: 600, height: client_h, closed: false, cache: false, href: 'tsgs_id/'+id,
			resizable: true,
			modal: true,
            buttons:[ {text:'Закрыть',  
				handler:function(){ 
					$('#tsgs_list').datagrid('reload'); 
					$('#tsgs_card').dialog('close'); }  
			}],
			onBeforeOpen:function(){
				$('#tsgs_card').dialog('dialog').attr('tabIndex','-1').bind('keydown',function(e){
					if (e.keyCode == 27){
						$('#tsgs_card').dialog('close');
					}
				});		
		}			
		});
	}
</script>

