<div id="tb_prof" style="display:none">
	<a href="#" id="p_btn1" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">Создать</a>
	<a href="#" id="p_btn2" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">Редакт</a>
	<a href="#" id="p_btn3" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">Удалить</a>
	<a href="#" id="p_btn4" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">Обновить</a>
</div>

<table id="profs_list"  singleSelect="true" autoRowHeight="false" rownumbers="true" fit="true"></table>
<script type="text/javascript" src="{{ asset('bundles/acmezayavki/js/profs.js') }}"></script> 
<script>

	$(function(){
		var item = {
			"profs_add": function(id) {
				$('#profs_list').datagrid('reload');
			}
		};
	
	
		$('#p_btn1').bind('click', function(){
			open_prof(0, item);
		});
		
		$('#p_btn2').bind('click', function(){
			var row = $('#profs_list').datagrid('getSelected');
			if (row){
				open_prof(row.id, item);
			}
		});

		$('#p_btn3').bind('click', function(){
			var row = $('#profs_list').datagrid('getSelected');
			if (row){
				$.messager.defaults.ok = 'Да';
			    $.messager.defaults.cancel = 'Нет';
				$.messager.confirm('Внимание','Вы уверены, что желаете удалить запись ?',function(r){
					if (r){
						$.ajax({
							type: "GET",
							url: 'profs_delete/'+row.id,
							dataType: "json",
							success: function(data) {
								var data = eval(data);  
								if (data.success){
									$('#profs_list').datagrid('reload');
								} else {
									$.messager.alert('Внимание', data.message, 'info');
								}
							}
						});
					}
				});
			}
		});

		$('#p_btn4').bind('click', function(){
			$('#profs_list').datagrid('reload');
		});		
	});

	$('#profs_list').datagrid({
		url: 'profs_data',
		toolbar: '#tb_prof',
		columns:[[
			{field:'id',hidden:'true'},
			{field:'name',width:300,title:'Название'}
		]],		
		onDblClickRow: function(index, data) {
		   		if (fx.head == 1) {
					open_prof(data['id'], item);
		   		}
		   },	   
  	   onBeforeLoad: function(row, param) {
  	  	 if (fx.head == 0) {
  	  	 	$('#p_btn1').hide();
  	  	 	$('#p_btn2').hide();
  	  	 	$('#p_btn3').hide();
  	  	 }
  	   }
	 });


</script>