<form id="formcard_prof" class="dialogform" method="post" {{ form_enctype(form) }}>
<div class="long">
	{{ form_label(form.name) }}
	{{ form_widget(form.name) }}
</div>
{{ form_widget(form.submit) }}

</form> 
